/* Coolors Exported Palette - https://coolors.co/053c5e-1d3958-353652-4c334d-643047-7c2e41-942b3b-ab2836-c32530-db222a */

/* CSS HEX */

:root {
  --indigo-dye: #053c5eff;
  --prussian-blue: #1d3958ff;
  --space-cadet: #353652ff;
  --english-violet: #4c334dff;
  --old-mauve: #643047ff;
  --catawba: #7c2e41ff;
  --red-violet-color-wheel: #942b3bff;
  --upsdell-red: #ab2836ff;
  --fire-engine-red: #c32530ff;
  --cadmium-red: #db222aff;
}
